{% extends 'index.html'%}
{% load static %}
{% block title %}
<title>ECart | Forget Password</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="w-50 m-auto ">
        <h4 class="text-center bg-primary p-3"><span class="text-success">Enter</span> OTP</h4>
        {% for m in messages %}
        <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">{{m}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        <form action="/forget-password-2/" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label>Enter OTP</label>
                <input type="number" name="otp" placeholder="Enter OTP" class="form-control">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success w-100">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}